[submodule "submodules/WGS84toCartesian"]
	path = submodules/WGS84toCartesian
	url = https://github.com/chrberger/WGS84toCartesian.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/Minimum-Cost-Perfect-Matching"]
	path = submodules/Minimum-Cost-Perfect-Matching
	url = https://github.com/dilsonpereira/Minimum-Cost-Perfect-Matching.git
